<div id="<%= dom_id checkin %>">
  <p>
    <strong>User:</strong>
    <%= checkin.user_id %>
  </p>

  <p>
    <strong>Habit:</strong>
    <%= checkin.habit_id %>
  </p>

  <p>
    <strong>Checked in:</strong>
    <%= checkin.checked_in %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= checkin.date %>
  </p>

</div>
