<%= form_with(model: Checkin.new, url: habit_checkins_path(@habit), method: :post, local: true) do |form| %>
  <% if habit.errors.any? %>
    <div style="color: red">
  <% end %>
  <%= form.hidden_field :habit_id, value: @habit.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :date, value: Date.today %>
  
  <div class="form-check form-switch">
    <%= check_box_tag "checked_in", "1", @habit.checkins.exists?(user: current_user, date: Date.today), class:"form-check-input", id:"checkin-toggle" %>
    <%= label_tag "checkin_toggle", "Today's checkin", class: "form-check-label" %>
  </div>
<% end %>

<script>
  document.getElementById("checkin-toggle").addEventListener("change", function() {
    document.getElementById("checkin-form").submit();
  })
</script>