<% checked_in = habit.checkins.find_by(user: current_user, date: Date.today) %>


<% if checked_in %>
  <% button_to %>
<% else %>
  <%= form_with(model: Checkin.new, url: habit_checkins_path(habit), method: :post, local: true, html: { id: "checkin-form-#{habit.id}"}) do |form| %>
    <% if habit.errors.any? %>
      <div style="color: red">
    <% end %>
    <%= form.hidden_field :habit_id, value: habit.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :date, value: Date.today %>
    
    <button type="submit" class="btn p-0 border-0 bg-transparent" id="checkin-button-<%= habit.id %>" >
      <% checked_in = habit.checkins.exists?(user: current_user, date: Date.today) %>
      <% icon_class = checked_in ? "bi-check-circle-fill text-success" : "bi-circle text-muted" %>
      <i class="bi <%= icon_class %> fs-1 ps-3 pe-5" role="button" style="cursor: pointer;" ></i>
    </button>
  <% end %>
<% end %>

